<div>
    <h2>Create Coupon</h2>
    <div>
        <form action="" method="post">
            <div>
                <label for="title">Offer Title</label>
                <input type="text" id="title" value="{{coupon_title}}"/>
            </div>
            <div>
                <label for="title">Offer Description</label>
                <input type="text" id="title" value="{{coupon_description}}" />
            </div>
            <div>
                <label for="title">Expiry Date</label>
                <input type="text" id="title" value="{{end_date}}" />
            </div>
            <div>
                <label for="title">Redirect Link</label>
                <input type="text" id="title" value="{{affiliate_link}}" />
            </div>
        </form>
    </div>
</div>