.btn-group {
    padding: 25px;
    background: #90EE90;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.btn-group button {
    font-size: 20px;
    color: white;

    border-radius: 6px;
    padding: 8px 20px;
}

.btn-group button:nth-child(1) {
    background-color: #32cd32;
    box-shadow: 0 4px green;
    border: 1px solid green;
    box-shadow: inset;
}

.btn-group button:nth-child(2) {
    background-color: #FF5C5C;
    box-shadow: 0 4px #A30000;
    border: 1px solid #A30000;
    box-shadow: inset;
}

.btn-group button:hover {
    cursor: pointer;
}

.btn-group button:nth-child(1):active {
    transform: translateY(4px);
    background-color: green;
    box-shadow: 0 2px green;
}

.btn-group button:nth-child(2):active {
    transform: translateY(4px);
    background-color: #A30000;
    box-shadow: 0 2px #FF0000;
}